/* CUSTOM FONTS, etc. */

@font-face {
    font-family: "mtg";
    src: url('/styles/MAGIC.TTF');
}

/* CUSTOM FONTS, etc. */

/* General */

body {
    background: url("/assets/img/tweed.png");
    background-attachment: fixed;
    font-family: "mtg";
}

.row {
    margin-top: 2%;
}

.container {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5%;
}

#login, .allDecks {
    margin: auto;
}

.sectionTitle {
    color: #ffac31;
    text-shadow: 2px 2px 2px #e62200, -2px 2px 2px #e62200, 2px -2px 2px #e62200, -2px -2px 2px #e62200;
}

/* General */

/* TITLE */

.textDecor {
    position: relative;
    margin-bottom: 15%;
}

.pageTitle {
    font-family: Righteous;
    font-size: 75px;
    color: white;
    background: url("/assets/img/fire.gif");
    background-position: -85% 65%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.titleShadow {
    font-family: Righteous;
    font-size: 75px;
    text-shadow: 10px 10px 11px #000000;
    color: #00000071;
}

.pageTitle, .titleShadow {
    position: absolute;
    top: 0;
    left: 0;
}

.loginButton {
    float: left;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-family: Righteous;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.3em;
    color: rgba(186, 107, 231, 0.74);
    border-radius: 0;
    padding: 12px 45px 12px;
    transition: all 0.3s ease-out;
    background: linear-gradient(270deg, rgba(147, 106, 223, 0.8), rgba(127, 52, 146, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(161, 106, 223, 0.3);
}

.deckButton {
    float: left;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-family: Righteous;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 0.3em;
    color: rgba(107, 161, 231, 0.74);
    border-radius: 0;
    padding: 8px 35px 8px;
    transition: all 0.3s ease-out;
    background: linear-gradient(270deg, rgba(106, 157, 223, 0.8), rgba(52, 93, 146, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(106, 118, 223, 0.3);
}

/* TITLE */

/* CARDS */

.availableCards {
    margin: auto;
}

.card {
    overflow: hidden;
    width: 180px;
    height: 251px;
    transition-property: filter;
    filter: saturate(.7);
    display: inline-block;
    cursor: pointer;
    background-color: #00000000;
    border: none;
    border-radius: 5%;
    outline: none;
    transition: 0.3s;
    
}

.card>img {
    border-radius: 5%;
}

.cardImg {
    height: 251px !important;
    max-width: 100%;
}

.card:hover {
    filter: saturate(1.7);
    webkit-box-shadow: 0px 18px 16px -6px black;
    -moz-box-shadow: 0px 18px 16px -6px black;
    box-shadow: 0 0 5px #ffae00ce, 0px 18px 16px -6px black;
    transform: translateY(-10px);
    
}

/* CARDS */

/* Searchbar */

.cardSearch {
    border-radius: 10px;
    border: solid 1px #00000071;
    transition: 0.3s;
}

.cardSearch:hover {
    box-shadow: 0 0 10px #ff5e008f, 0px 10px 16px -6px black;
}

.cardSearch:focus {
    box-shadow: 0 0 7px #f5b400b4;
}

.search_cards {
    margin: auto;
    background: #1e313656!important;
    -webkit-box-shadow: 8px 8px 6px -6px black;
    -moz-box-shadow: 8px 8px 6px -6px black;
    box-shadow: 8px 8px 6px -6px black;
    border: 1px solid #77777763;
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.searchButton {
    float: left;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-family: Righteous;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.3em;
    color: rgba(231, 122, 107, 0.7);
    border-radius: 0;
    padding: 8px 35px 8px;
    transition: all 0.5s ease-out;
    background: linear-gradient(270deg, rgba(223, 139, 106, 0.8), rgba(146, 52, 52, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(223, 124, 106, 0.3);
    border-radius: 4px;
}

.searchButton:hover, .loginButton:hover, .deckButton:hover {
    color: #fff;
    border: 1px solid rgba(223, 106, 106, 0);
    background-position: 99% 50%;
    cursor: pointer;
    -moz-box-shadow:    inset 0 0 10px #a3a3a342;
    -webkit-box-shadow: inset 0 0 10px #a3a3a342;
    box-shadow:         inset 0 0 10px #a3a3a342, 0 8px 6px -6px black;
}

.cardSearch {
    margin: 0;
}

.filterButtons {
    background: url("W.png");
    width: 2em;
    height: 2em;
    float: right;
    margin-top: 1%;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px;
    filter: saturate(0.5);
    transition: 0.2s;
    border: 2px solid #0000008c;
}

.filterButtons:hover {
    cursor: pointer;
    -moz-box-shadow:    0px 14px 16px -6px black;
    -webkit-box-shadow: 0px 14px 16px -6px black;
    box-shadow:         inset 0 0 10px #a3a3a342, 0 0 10px #ffffff, 0px 14px 16px -6px black;
    filter: saturate(2);
    transform: translateY(-1px);
}

#G:hover {
    -moz-box-shadow:    0px 14px 16px -6px black;
    -webkit-box-shadow: 0px 14px 16px -6px black;
    box-shadow:         0 0 10px #99ffaa, 0px 14px 16px -6px black;
}

#U:hover {
    -moz-box-shadow:    0px 14px 16px -6px black;
    -webkit-box-shadow: 0px 14px 16px -6px black;
    box-shadow:         inset 0 0 10px #a3a3a342, 0 0 10px #00c3ff, 0px 14px 16px -6px black;
}

#R:hover {
    -moz-box-shadow:    0px 14px 16px -6px black;
    -webkit-box-shadow: 0px 14px 16px -6px black;
    box-shadow:         inset 0 0 10px #a3a3a342, 0 0 10px #ff5e00, 0px 14px 16px -6px black;
}

#B:hover {
    -moz-box-shadow:    0px 14px 16px -6px black;
    -webkit-box-shadow: 0px 14px 16px -6px black;
    box-shadow:         inset 0 0 10px #a3a3a342, 0 0 10px #000000, 0px 14px 16px -6px black;
}

#all:hover {
    -moz-box-shadow:    0px 14px 16px -6px black;
    -webkit-box-shadow: 0px 14px 16px -6px black;
    box-shadow:         inset 0 0 10px #a3a3a342, 0 0 10px #ffa600, 0px 14px 16px -6px black;
}


/* Searchbar */

/* Available Cards */

.availableCardsContainer {
    display: inline-block;
    overflow-y: scroll;
    width: 915px;
    height: 600px;
    margin: auto;
    margin-right: 0.5%;
    border-radius: 10px;
    background: #1e313656!important;
    -webkit-box-shadow: 8px 8px 6px -6px black;
    -moz-box-shadow: 8px 8px 6px -6px black;
    box-shadow: 8px 8px 6px -6px black;
    border: 1px solid #77777763;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: rgba(165, 165, 165, 0.486); 
  border-radius: 10px;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background: rgb(168, 168, 168); 
}

::-webkit-scrollbar-thumb:active {
   background: #9e9d9da1;
}

/* Available Cards */

/* DECKED CARDS */

.deckContainer {
    background: #1e313656 !important;
    margin: auto;
    margin-left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 0;
    border-radius: 10px;
    width: 24%;
    -webkit-box-shadow: 8px 8px 6px -6px black;
    -moz-box-shadow: 8px 8px 6px -6px black;
    box-shadow: 8px 8px 6px -6px black;
    border: 1px solid #77777763;
}

.deckedCards {
    border-bottom: 1px solid #00000063;
    margin: 0;
    margin-top: 5%;
    display: flex;
    padding-left: 0%;
    padding-right: 0;
    border-radius: 5px;
    transition: 0.3s;
}


.deckThumb {
    max-width: 100%;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.deckList {
    margin: auto;
    flex: 1;
    z-index: 1;
    color: #0000009d;
    font-size: 16px;
    width: 200px;
}

.deckedCards:hover {
    cursor: pointer;
    background-color: #ffa60071;
    box-shadow: 0 0 8px #ffa60094;
    text-shadow: 0 0 8px #0000006b;
}

.deckedCards>.hoverimage {
    opacity: 0; 
  }
  
.deckedCards:hover>.hoverimage {
      display: inline;
      opacity: 0.8;
  }

.hoverimage {
    width: 180px;
    height: 251px;
    float: right;
    position: absolute;
    border-radius: 5%;
    z-index: 0;
    box-shadow: 0 0 5px #ffffff83;
    transition: 0.05s;
}

/* DECKED CARDS */

/* RESPONSIVENESS */

@media screen and (max-width: 680px) {
    #top-bar {
        margin-bottom: 30%;
    }
    .deckContainer {
        margin-top: 5%;
        width: 100%;
    }
    .filterButtons {
        width: 1.7em;
        height: 1.7em;
        margin-top: 4%;
    }
}

/* RESPONSIVENESS */